@model Ritual.Data.MembershipEditViewModel
@{
    ViewBag.Title = "Ritual - Edit Member";
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">

            @using (Html.BeginForm("Edit", "Members", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MemberId)
                <div class="row">
                    <div class="large-6 columns">

                        <fieldset>
                            <legend>Name:</legend>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Salutation, new { @class = "col-md-2 control-label" })
                                @Html.DropDownListFor(x => x.Salutation, Model.Salutations)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                                @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                                @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </fieldset>                        
                        <fieldset>
                            <legend>Email: </legend>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmailOptOut, new {@class = "col-md-2 control-label"})
                                @Html.EditorFor(m => m.EmailOptOut, new {@class = "form-control"})
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Address: </legend>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressLine1, new {@class = "col-md-2 control-label"})
                                @Html.TextBoxFor(m => m.AddressLine1, new {@class = "form-control"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressLine2, new {@class = "col-md-2 control-label"})
                                @Html.TextBoxFor(m => m.AddressLine2, new {@class = "form-control"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.City, new {@class = "col-md-2 control-label"})
                                @Html.TextBoxFor(m => m.City, new {@class = "form-control"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Country, new {@class = "col-md-2 control-label"})
                                @Html.DropDownListFor(x => x.Country, Model.Countries)
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(m => m.PostCodeZip, new {@class = "col-md-2 control-label"})
                                @Html.TextBoxFor(m => m.PostCodeZip, new {@class = "form-control"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.HomePhone, new {@class = "col-md-2 control-label"})
                                @Html.TextBoxFor(m => m.HomePhone, new {@class = "form-control"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.MobilePhone, new {@class = "col-md-2 control-label"})
                                @Html.TextBoxFor(m => m.MobilePhone, new {@class = "form-control"})
                            </div>
                        </fieldset>
                    </div>
                    <div class="large-6 columns">

                        <fieldset>
                            <legend>Emergency Information:</legend>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmergencyContactName, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.EmergencyContactName, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.EmergencyContactNumber, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.EmergencyContactNumber, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.BloodType, new { @class = "col-md-2 control-label" })
                                @Html.DropDownListFor(x => x.BloodType, Model.BloodTypes)
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Clothing Settings:</legend>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShirtSize, new { @class = "col-md-2 control-label" })
                                @Html.DropDownListFor(x => x.ShirtSize, Model.ShirtSizes)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShortSize, new { @class = "col-md-2 control-label" })
                                @Html.DropDownListFor(x => x.ShortSize, Model.ShortSizes)
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Idenfitication Numbers:</legend>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IDType, new { @class = "col-md-2 control-label" })
                                @Html.DropDownListFor(x => x.IDType, Model.IDTypes)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.IDNumber, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.IDNumber, new { @class = "form-control" })
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="button" value="Save Member" />
                            </div>
                        </div>
                    </div>
                </div>

            }

            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            //RITUAL.Core.Registration.Locations("#LocationId");
        });

    </script>
}