@model Ritual.Booking.Data.OpeningHour

@{
    ViewBag.Title = "Add Opening Hours - " + @ViewBag.Location.Name;
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
                    {
                        @Html.ValidationSummary("", new { @class = "alert-box alert" })
                    }

                    <input type="hidden" name="locationId" value="@ViewBag.Location.Id" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfWeek, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DateOfWeek,
                 new SelectList(new[]
                 {
                   new {ID=1, Name="Monday"},
                   new {ID=2, Name="Tuesday"},
                   new {ID=3, Name="Wednesday"},
                   new {ID=4, Name="Thursday"},
                   new {ID=5, Name="Friday"},
                   new {ID=6, Name="Saturday"},
                   new {ID=7, Name="Sunday"},
                 }, "ID", "Name"))
                            @Html.ValidationMessageFor(model => model.DateOfWeek, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OpenTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OpenTime, new { htmlAttributes = new { @class = "form-control jqueryui-timepicker" } })
                            @Html.ValidationMessageFor(model => model.OpenTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CloseTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CloseTime, new { htmlAttributes = new { @class = "form-control jqueryui-timepicker" } })
                            @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="button btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to Location", "Edit", new { id = ViewBag.Location.Id }, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</section>