@model Ritual.Booking.Data.TrainingZoneConfirmBooking

@{
    ViewBag.Title = "Confirm your Booking";
}
<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            <p>Hey @Model.bookingMember.FirstName, can you confirm that you would like to book the following session?</p>
            <dl class="dl-horizontal">
                <dt>Location</dt>
                <dd>@Model.bookingLocation.Name</dd>

                <dt>Time</dt>
                <dd>@Model.bookingTimeslot.StartTime</dd>

                <dt>Date</dt>
                <dd>@Model.bookingDate.ToString("dddd, dd MMMM, yyyy")</dd>
            </dl>
            @using (Html.BeginForm("AddNewBooking", "TrainingZone", new { TimeslotId = Model.bookingTimeslot.Id, LocationId = Model.bookingLocation.Id, BookingDate = Model.bookingDate }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" name="submit" class="button" value="Confirm Booking" />
            }

            <a href="@Url.Action("Booking", "TrainingZone")">
                <div class="button cancel">Cancel</div>
            </a>
        </div>
    </div>
</section>
