@model Ritual.Booking.Data.TrainingZoneDashboardData

@{
    ViewBag.Title = "Training Zone Dashboard";
}
<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            <p>Welcome back @Model.UserMember.FirstName to your training gateway.  Be Brave!</p>

            <div class="row">

                <a href="@Url.Action("MyRitual", "TrainingZone")">
                    <div class="card-container large-4 medium-6 small-12 columns">
                        <div class="card">
                            <div class="front bg-greensea">
                                <!-- row -->
                                <div class="row collapse">
                                    <!-- col -->
                                    <div class="small-3 columns">
                                        <i class="fa fa-user fa-4x"></i>
                                    </div>
                                    <!-- /col --> <!-- col -->
                                    <div class="small-9 columns">
                                        <p class="text-elg text-strong mb-0">My Ritual</p>
                                        <span>View / Manage your Profile and Memberships.</span>
                                    </div> <!-- /col -->
                                </div> <!-- /row -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Booking", "TrainingZone")">
                    <div class="card-container large-4 medium-6 small-12 columns">
                        <div class="card">
                            <div class="front bg-greensea">
                                <!-- row -->
                                <div class="row collapse">
                                    <!-- col -->
                                    <div class="small-3 columns">
                                        <i class="fa fa-plus fa-4x"></i>
                                    </div>
                                    <!-- /col --> <!-- col -->
                                    <div class="small-9 columns">
                                        <p class="text-elg text-strong mb-0">New Booking</p>
                                        <span>Book your next ritual experience.</span>
                                    </div> <!-- /col -->
                                </div> <!-- /row -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("MyAssessments", "TrainingZone")">
                    <div class="card-container large-4 medium-6 small-12 columns">
                        <div class="card">
                            <div class="front bg-greensea">
                                <!-- row -->
                                <div class="row collapse">
                                    <!-- col -->
                                    <div class="small-3 columns">
                                        <i class="fa fa-bar-chart-o fa-4x"></i>
                                    </div>
                                    <!-- /col --> <!-- col -->
                                    <div class="small-9 columns">
                                        <p class="text-elg text-strong mb-0">My Assessments</p>
                                        <span>View the details of your quarterly assessments.</span>
                                    </div> <!-- /col -->
                                </div> <!-- /row -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-4 columns">
            <h3>My Current Membership</h3>
            <table class="table">
                <tr>
                    <th>Details</th>
                </tr>
                <tr>
                    <td>Your current membership will expire in @Model.DaysTillMembershipExpiry days.</td>
                </tr>
            </table>
        </div>
        <div class="large-4 medium-4 columns">
            <h3>My Upcoming Bookings</h3>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Location</th>
                </tr>
                @foreach (var item in Model.UpcomingBookings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                    </tr>
                }
            </table>
            <h3>My Past Bookings</h3>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Location</th>
                </tr>
                @foreach (var item in Model.PastBookings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="large-4 medium-4 columns">
            <h3>My Quarterly Assessments</h3>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Trainer</th>
                    <th>RPE</th>
                </tr>
                @foreach (var item in Model.QuarterlyAssessments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QADateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trainer.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QAClientRPE)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>