@model Ritual.Web.Members.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="small-12 medium-8 small-6 large-centered columns">

            <div class='builder-form' id="loginForm">
                <div class="row">
                    <div class="large-12 columns">

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h2>Register for a Trial Membership.</h2>
                            <hr />
                            <p>
                                <strong>$50.00</strong> for a 7 day, <strong><u>unlimited</u></strong> access pass to Ritual.<br />
                                You also get the following complimentary items with your trial:
                                <ul>
                                    <li>Fitness and mobility assessment</li>
                                    <li>Meal replacement smoothie</li>
                                    <li>Workout attire and towels</li>
                                    <li>Access to the Ritual Grub Guide (nutrition plan)</li>
                                </ul>
                            </p>
                            if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
                            {
                                @Html.ValidationSummary("", new { @class = "alert-box alert" })
                            }

                            <div class="form-group">
                                <label class="col-md-2 control-label">Location</label>
                                <select name="LocationId" id="LocationId"></select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Username <span id="username-result"></span></label>
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })                               
                            </div>

                            <div class="form-group">
                                <label class="control-label">Email <span id="email-result"></span></label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Salutation</label>
                                <select name="Salutation" id="Salutation">
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Ms</option>
                                    <option>Miss</option>
                                    <option>Dr</option>
                                </select>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Gender</label>
                                <select name="Gender" id="Gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Trial Date</label>
                                <select id="TrialDate" name="TrialDate"></select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Trial Slot</label>
                                <select id="TrialTimes" name="TrialTimes"></select>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Pin, new { @class = "col-md-2 control-label" })
                                @Html.PasswordFor(m => m.Pin, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="button" value="Register" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            RITUAL.Core.Registration.Locations("#LocationId");

            $('#Username').on('blur',function () {
                var url = "/Account/CheckUserName";
                var name = $(this).val();
                $.get(url, { input: name }, function (data) {
                    if (data == "Available") {
                        $("#username-result").html("<span style='color:green'>Available</span>");
                        $(this).css('background-color', '');
                    } else {
                        $("#username-result").html("<span style='color:red'>Not Available</span>");
                        $(this).css('background-color', '#e97878');
                    }
                });
            });

            $('#Email').on('blur', function () {
                var url = "/Account/CheckEmail";
                var name = $(this).val();
                $.get(url, { input: name }, function (data) {
                    if (data == "Available") {
                        $("#email-result").html("<span style='color:green'>Available</span>");
                        $(this).css('background-color', '');
                    } else {
                        $("#email-result").html("<span style='color:red'>Email Already Registered</span>");
                        $(this).css('background-color', '#e97878');
                    }
                });
            });
        });
    </script>
}

