@model Ritual.Data.OpeningHour
@{
    ViewBag.Title = "Details Opening Hours - " + @ViewBag.Location.Name;
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DateOfWeek)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfWeek)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OpenTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpenTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CloseTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CloseTime)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</section>
