@model Ritual.Data.News


@{
    ViewBag.Title = "Ritual News - Detail";
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">

            <div>
                <div class="news-metadata">
                    <strong>Created:</strong>
                    @Html.DisplayFor(model => model.CreatedDate)<br />
                    <strong>Created Date:</strong>
                    @Html.DisplayFor(model => model.AspNetUserCreatedBy.FullName)<br />
                    <strong>Modified:</strong>
                    @Html.DisplayFor(model => model.AspNetUserModifiedBy.FullName)<br />
                    <strong>Modified Date:</strong>
                    @Html.DisplayFor(model => model.ModifiedDate)<br />
                    <strong>Location:</strong>
                    @Html.DisplayFor(model => model.Location.Name)<br />
                    <strong>Category:</strong>
                    @Html.DisplayFor(model => model.NewsCategory.Title)<br />

                </div>
                <div class="news-content">
                    <h1>@Html.DisplayFor(model => model.Title)</h1>
                    @Html.Raw(Model.Body)
                </div>

            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "button" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
            </p>
        </div>
    </div>
</section>