@model Ritual.Data.FrontOfHouseCheckInData

@{
    ViewBag.Title = "Check in to your ritual session";
}
<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            @foreach (var item in Model.NextSessionData)
            {
                if (item.SessionBookingId != null)
                {
                    var style = (item.SessionBookingState == "Checked-in") ? "checkedin" : "pending";
                    <div class="booking-slot @style">
                        <h1>@item.FirstName @item.LastName</h1>
                        @if (item.SessionBookingState == "Pending")
                        {
                            <a href="@Url.Action("ConfirmCheckin", "FrontOfHouse", new { TimeslotId = item.TimeSlotId, SessionBookingId = item.SessionBookingId })">
                                <div class="button session-booking">Check In <i class="fa fa-question"></i></div>
                            </a>
                        }
                        else
                        {
                            <div class="button session-booking">Checked-In <i class="fa fa-check"></i></div>
                        }
                    </div>
                }
                else
                {
                    <div class="booking-slot empty">
                        <h1>Free Slot</h1>
                    </div>
                }
            }
        </div>
    </div>
</section>
