@model IEnumerable<Ritual.Booking.Data.QuarterlyAssessment>

@{
    ViewBag.Title = "Ritual Quarterly Assessments";
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            <p>
                @Html.ActionLink("Create New", "Create", "", new { @class = "button" })
            </p>
            @using (Html.BeginForm())
            {
                <label class="control-label">Assessment Search</label>
                <p>Find by Year, Employee or Member:</p>
                @Html.TextBox("SearchString", "", new { @class = "form-control" })
                <input type="submit" class="button" value="Search" />
            }
            <table class="table">
                <tr>
                    <th>
                        Quarter
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        RPE Score
                    </th>
                    <th>
                        @Html.ActionLink("Member Name", "Index", new { sortOrder = ViewBag.MemberNameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Employee Name", "Index", new { sortOrder = ViewBag.EmployeeNameSortParm })
                    </th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QAQuarter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QAYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QADateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QAClientRPE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "button" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>
