@model IEnumerable<Ritual.Booking.Data.OpeningHourOverride>

@{
    ViewBag.Title = "Ritual Locations - Opening Hour Overrides";
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">

            <p>
                @Html.ActionLink("Create New", "Create", "", new { @class = "button" })
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OverrideStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AltOpenTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OverrideEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AltCloseTme)
                    </th>
                    <th>
                       Location
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.OverrideStartDate.ToString("dddd, dd MMM, yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AltOpenTime)
                        </td>
                        <td>
                            @item.OverrideEndDate.ToString("dddd, dd MMM, yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AltCloseTme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverrideReason)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "button" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>