@model IEnumerable<Ritual.Data.Membership>

@{
    ViewBag.Title = "Ritual - User Memberships";
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p>
                        @Html.ActionLink("Create New", "Create", "", new { @class = "button" })
                    </p>
                    @using (Html.BeginForm())
                    {
                        <p>Find by name or date range of expiry date:</p>
                        <div class="row">
                            <div class="large-6 columns">
                                <label class="control-label">Search Term</label>
                                @Html.TextBox("SearchString", "", new { @class = "form-control" })
                            </div>
                            <div class="large-3 medium-3 columns">
                                <label class="control-label">Start Date</label>
                                @Html.TextBox("StartDateRange", "", new { @class = "form-control jqueryui-datepicker" })
                            </div>

                            <div class="large-3 medium-3 columns">
                                <label class="control-label">End Date</label>
                                @Html.TextBox("EndDateRange", "", new { @class = "form-control jqueryui-datepicker" })
                            </div>
                        </div>
                        <input type="submit" class="button" name="Command" value="Search" />
                        <input type="submit" class="button" name="Command" value="Reset" />
                    }
                </div>
                <div class="large-6 medium-6 columns">
                    &nbsp;
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        Member Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Package
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipState.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Package.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "button" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>