@model Ritual.Booking.Data.MemberListingData

@{
    ViewBag.Title = "Ritual Locations - Members";    
}

<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            @*
                <p>
                    @Html.ActionLink("Create New", "Create", "", new { @class = "button" })
                </p>*@
            @using (Html.BeginForm())
            {
                <label class="control-label">Member Search</label>
                <p>Find by First Name, Last Name, ID Number or phone number:</p>
                @Html.TextBox("SearchString", "", new { @class = "form-control" })
                <input type="submit" class="button" name="Command" value="Search" />
                <input type="submit" class="button" name="Command" value="Reset" />
            }
            <table class="table">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        @Html.ActionLink("First Name", "Index", new { sortOrder = Model.FirstNameSortParam })
                    </th>
                    <th>
                        @Html.ActionLink("Last Name", "Index", new { sortOrder = Model.LastNameSortParam })
                    </th>
                    <th>
                        Location
                    </th>
                    <th>Membership Expiry</th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model.Members)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Salutation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.LastName)
                        </td>
                        <td>
                            @Html.ActionLink(item.Location.Name, "Edit", "Locations", new { id = item.Location.Id }, null)
                        </td>
                        <td>
                            @if (item.hasActiveMembership())
                            {
                                @item.getActiveMembership().daysTillExpiry()
                                @Html.Raw(" Days")
                            }
                            else
                            {
                                @Html.Raw("Expired")
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "button" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>
